* {
    margin: 0;
    padding: 0;
  }
body{
    background-color: #f2f2f2;
    max-width: 1800px;
    margin: auto;
}

header{
    margin-bottom: 50px;
}
#parrafo1{
  font-size: 2rem;
  font-weight: 700;
  margin: 20px 0px;
}
.subbanner{
    border-radius: 10px;
    margin: 20px 0;
    width: 100%;
    top: 10px;
}
  #contenedorTodos, #contenedorCamionetas, #contenedorSedan, #contenedorSuv {
    gap: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 0.5rem;
  }
  #contenedorCamionetas, #contenedorSedan, #contenedorSuv{
    display: none;
  }
.btn-group-vertical{
  top: 10px;
  position: sticky;

}
  .btn, .btn-group-vertical{
    width: 100%;
    margin-top: 10px;
    
  }
  .btn{
border: solid 1px rgb(227, 227, 227);
  }

.card{
    max-width: 14.3rem;
    border: none;
}
.card-info{
    font-size: 12px;
}
.card-priceList{
    font-size: 12px;
    text-decoration:line-through;
}
.card-price{
    font-weight: 700;
}

@media (max-width: 1450px) {
  .card{
    max-width: 13rem;
    border: none;
}
}

@media (max-width: 600px) {
  .card{
    max-width: 10.9rem;
    border: none;
}
}
  
  